@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
  display: relative;
  font-size: 2vmin;
  font-family:Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: #dceefc;
  overflow: hidden;

}

header h1.logo-text {
  font-family: 'Pixelify Sans';
  font-size: 25px;
  position: absolute;
  top: 50px;
  left: 140px;
  
}

header  a {
  float: right;
  margin-right: 80px;
  text-decoration: none;
  padding-top: 38px;
  color: black;
  position: relative;
  font-family: 'Pixelify Sans';
  font-size: 25px;
  font-weight: 600;
}

a:hover {
  color: #0d7ec0;
}


.slogan{
  font-family: 'Pixelify Sans';
  font-size: 50px;
  margin-left: 20px;
  padding: 50px;
  margin-top: 10vmin;
  display: flex;
  position: relative;
  z-index: 2;
}

h3 {
  font-family: 'Pixelify Sans';
  font-size: 20px;
  margin-left: 25px;
  margin-top: -8vmin;
  padding: 45px;
  width: 40%;
  font-weight: 100;
  z-index: 2;
  position: relative;
}

header .logo {
  width: auto;
  height: 70px;
  margin-top: 30px;
  margin-left: 50px;
}


.container{

    background:#fff;
    width:450px;
    padding:1.5rem;
    margin: -225px 65rem;
    border-radius:10px;
    box-shadow:0 20px 35px rgba(0,0,1,0.6);
}
form{
    margin:0 2rem;
}
.form-title{
    font-size:1.5rem;
    font-weight:bold;
    text-align:center;
    padding:1.3rem;
    margin-bottom:0.4rem;
}
input{
    color:inherit;
    width:100%;
    background-color:transparent;
    border:none;
    border-bottom:1px solid #757575;
    padding-left:1.5rem;
    font-size:15px;
}
.input-group{
    padding:1% 0;
    position:relative;

}
.input-group i{
    position:absolute;
    color:black;
}
input:focus{
    background-color: transparent;
    outline:transparent;
    border-bottom:2px solid hsl(327,90%,28%);
}
input::placeholder{
    color:transparent;
}
label{
    color:#757575;
    position:relative;
    left:1.2em;
    top:-1.3em;
    cursor:auto;
    transition:0.3s ease all;
}
input:focus~label,input:not(:placeholder-shown)~label{
    top:-3em;
    color:hsl(327,90%,28%);
    font-size:15px;
}
.recover{
    text-align:right;
    font-size:1rem;
    margin-bottom:1rem;

}
.recover a{
    text-decoration:none;
    color:rgb(125,125,235);
}
.recover a:hover{
    color:blue;
    text-decoration:underline;
}
.btn{
    font-size:1.1rem;
    padding:8px 0;
    border-radius:5px;
    outline:none;
    border:none;
    width:100%;
    background:rgb(125,125,235);
    color:white;
    cursor:pointer;
    transition:0.9s;
    position: relative;  /* Add positioning */
    z-index: 2;     
}
.btn:hover{
    background:#07001f;
}
.or{
    font-size:1.1rem;
    margin-top:0.5rem;
    text-align:center;
}
.icons{
    text-align:center;
}
.icons i{
    color:rgb(125,125,235);
    padding:0.8rem 1.5rem;
    border-radius:10px;
    font-size:1.5rem;
    cursor:pointer;
    border:2px solid #dfe9f5;
    margin:0 15px;
    transition:1s;
}
.icons i:hover{
    background:#07001f;
    font-size:1.6rem;
    border:2px solid rgb(125,125,235);
}
.links{
    display:flex;
    justify-content:space-around;
    padding:0 4rem;
    margin-top:0.9rem;
    font-weight:bold;
}
button{
    color:rgb(125,125,235);
    border:none;
    background-color:transparent;
    font-size:1rem;
    font-weight:bold;
    position: relative;  /* Add positioning */
    z-index: 2;     
}
button:hover{
    text-decoration:underline;
    color:blue;
}

#About-Us {
    height: 200px;
    margin: 600px 0px 400px 0px;
    position: fixed; /* Ensure it's positioned relative to the page */
    z-index: 1;

    
  }
  
  #About-Us h5 {
    margin-left: 60px;
   bottom:15vh;
    position: fixed;
  }
  
  
  
  .about-title {
    font-family: 'Pixelify Sans';
    font-size: 50px;
    position: fixed;
    bottom: 30vh;
    margin-left: 59px;
  }
  
  .about-desc {
    font-family: 'Pixelify Sans';
    font-size: 20px;
    text-align: left;
    position: relative;
    bottom: 450px;
    font-weight: 100;
    margin-top: 20px;
  }
  

  
  .string {
    display: flex;
    flex-direction: column;
    margin-top: -13vh;
    margin-left: 27.5rem;
    animation: move 4s infinite;
}
.greeting {
    position: relative;
    top: 8.6vmin;
    animation: with-out 5s infinite;
}

.closure {
    position: relative;
    margin-top: -12.3vh;
    margin-left: 46.7rem;
}
.closure::after {
    content: '';
    position: absolute;
    height: 25vmin;
    width: 40vmin;
    background-color:  #dceefc;
    transform: translate(-40vmin, -24.5vmin);
    z-index: 1;
}

.closure::before {
    content: '';
    position: absolute;
    height: 25vmin;
    width: 40vmin;
    background-color:  #dceefc;
    transform: translate(-40vmin, 5vmin);
    z-index: 1;
}

.hi1 {
    color: #fa8231;

}
.hi2 {
    color: #0d7ec0;

}
.hi3 {
    color: #c678dd;

}
.hi4 {
    color: #a9b0bd;

}

@keyframes move {
    25% {
        transform: translateY(-5.8vmin);
        opacity: 1;
    }

    50%{
        transform: translateY(-11vmin);
    }
    
    75%{
        transform: translateY(-16.5vmin);
    }
}