@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap');

body {
  font-family: 'Pixelify Sans';
  font-size: 15pt;
  background-color: #dceefc;
}

header h1.logo-text {
  font-family: 'Pixelify Sans';
  font-size: 25px;
  position: absolute;
  top: 38px;
  left: 140px;
  
}

header .logo {
    width: auto;
    height: 100px;
    margin-top: 15px;
    margin-left: 15px;
}

.welcome {
    font-size: 80px;
    text-align: center;
}

.web-desc {
    font-size: 35px;
    text-align: left;
    width: 40%;
    position: relative;
    top: 50px;
    left: 80px;
}

.coderboy {
    position: relative;
    left: 900px;
    width: 30%;
    height: auto;
    bottom: 190px;
    border-radius: 50%;
    border: 2px solid;
}

.topic {
    padding: 10px;
    text-align: center;
}

.topic-1 {
    text-align: right;
    width: 40%;
    position: relative;
    left: 900px;
    top: 95px;
    font-weight: 650;
}

.debugger {
    position: relative;
    left: 250px;
    width: 30%;
    border-radius: 50%;
    bottom: 120px;
    border: 2px solid;
}

.different-types {
    
    font-size: 25px;
    margin-left: 50px;
    text-align: left;
    position: relative;
    bottom: 90px;
}

.diff-dev {
    width: 43%;
    height: auto;
    margin-left: 55px;
    border: 2px solid #0264af;
    border-radius: 10px;
    position: relative;
    bottom: 120px;
}

.basic-structure {
    font-size: 25px;
    margin-right: 285px;
    text-align: right;
    position: relative;
    bottom: 140px;
}

.web-structure {
    width: 43%;
    height: auto;
    margin-left: 55px;
    border: 2px solid #0264af;
    border-radius: 10px;
    position: relative;
    bottom: 120px;
}

.what-html {
    font-size: 35px;
    margin-left: 50px;
}

.html-desc {
    margin-left: 50px;
    width: 41%;
}

.try-editing {
    position: relative;
    bottom: 190px;
    text-align: right;
    right: 650px;
}

