@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap');

body {
  font-size: 15pt;
  background-color: #dceefc;
}

header h1.logo-text {
  font-family: 'Pixelify Sans';
  font-size: 25px;
  position: absolute;
  top: 38px;
  left: 140px;
  
}

header .logo {
    width: auto;
    height: 100px;
    margin-top: 15px;
    margin-left: 15px;
  }
  


.cards {
    display: flex;
    justify-content: space-around;
    position: relative; 
    top: 100px;
    
}

.html-card {
    width: 405px;
    height: 506px;
    display: flex;
    border-radius: 40px;
    background-image: url(html\ card.png);
    position: relative;
    right: 0px;
    border: 7px solid black;
}

.css-card {
    width: 405px;
    height: 506px;
    display: flex;
    border-radius: 40px;
    background-image: url(css\ card.png);
    position: relative;
    border: 7px solid black;
}

.js-card {
    width: 405px;
    height: 506px;
    display: flex;
    border-radius: 40px;
    background-image: url(js\ card.png);
    position: relative;
    border: 7px solid black;
}

.html-card:hover {
    background-color: black;
    transform: scale(0.7);
    transition: 1100ms;
}

.css-card:hover {
    background-color: black;
    transform: scale(0.7);
    transition: 1100ms;
}

.js-card:hover {
    background-color: black;
    transform: scale(0.7);
    transition: 1100ms;
}
