@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap');

body {
  font-family: 'Pixelify Sans';
  font-size: 15pt;
  background-color: #dceefc;
  overflow-x: hidden; 
}

header h1.logo-text {
  font-family: 'Pixelify Sans';
  font-size: 25px;
  position: absolute;
  top: 38px;
  left: 140px;
  
}

header .logo {
    width: auto;
    height: 100px;
    margin-top: 15px;
    margin-left: 15px;
}

.welcome {
    font-size: 80px;
    text-align: center;
}

.web-desc {
    font-size: 35px;
    text-align: left;
    width: 40%;
    position: relative;
    top: 50px;
    left: 80px;
}

.coderboy {
    position: relative;
    left: 900px;
    width: 30%;
    height: auto;
    bottom: 190px;
    border-radius: 50%;
    border: 2px solid;
}

.topic {
    padding: 10px;
    text-align: center;
}

.topic-1 {
    text-align: right;
    width: 40%;
    position: relative;
    left: 900px;
    top: 95px;
    font-weight: 650;
}

.debugger {
    position: relative;
    left: 250px;
    width: 30%;
    border-radius: 50%;
    bottom: 120px;
    border: 2px solid;
}

.different-types {
    
    font-size: 25px;
    margin-left: 50px;
    text-align: left;
    position: relative;
    bottom: 90px;
}

.diff-dev {
    width: 43%;
    height: auto;
    margin-left: 55px;
    border: 2px solid #0264af;
    border-radius: 10px;
    position: relative;
    bottom: 120px;
}

.basic-structure {
    font-size: 25px;
    margin-right: 285px;
    text-align: right;
    position: relative;
    bottom: 140px;
}

.web-structure {
    width: 43%;
    height: auto;
    margin-left: 55px;
    border: 2px solid #0264af;
    border-radius: 10px;
    position: relative;
    bottom: 120px;
}

.what-html {
    font-size: 35px;
    margin-left: 50px;
}

.html-desc {
    margin-left: 50px;
    width: 41%;
}

.html-bisek {
    font-size: 25px;
    position: relative;
    left: 800px;
    bottom: 120px;
    text-align: right;
    width: 40%;
}

#editor {
    background-color: purple;
    width: 2%;
    padding: 10px 14px 5px 10px;
    border-radius: 100px;
    border: 1px black solid;
    transition: 0.5s background-color;
}

#editor:hover {
    cursor: pointer;
    background-color: rgb(54, 0, 27)
}

#editorConsole {
    width: 30%;
    padding: 5px 0px 15px 0px;
    background-color: rgb(0, 73, 116);
    border-radius: 30px;
    position: relative;
    height: 450px;
    
    margin-left: 50px;
    border: 3px solid;
}

#editorConsole h1{
    text-align: center;
}

#htmlOutput {
    position: relative;
    bottom: 490px;
    left: 575px;
    width: 55%;
    height: 500px;
    border: 3px solid black;
    background-color: white;
    
} 

#input {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    background-color: rgb(8, 8, 8);
    border-radius: 5px;
    color:rgb(245, 254, 255);
    resize: none;
}

#execute {
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: 550;
    display: block;
    margin: 0 auto;
}

.title-tags {
    text-align: center;
    
    font-size: 50px;
}

.html-tags {
    width: auto;
    height: 750px;
    border-radius: 10px;
    display: block;
    margin: 0 auto; 
}

.links-img h1 {
    text-align: center;
    padding: 50px;
}

.links-img p {
    width: 35%;
    text-align: left;
    float: left;
    margin-left: 100px;
}
.link-example {
    position: relative;
    left: 200px;
    text-align: left;
}

/* .link-button {
    padding: 20px 40px;
    background-color: #af4c4c;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    font-size: 25px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: relative; 
    left: 700px;
    top: 1000px;
    border: 3px solid rgb(5, 5, 5);

} 
    
.link-button:hover {
    background-color: #f2ff81;
    color: black;
} */

.nav-buttons {  
    display: block;
    margin: 0 auto;
    position: relative;
    left: 100px;
    bottom: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.nav-buttons a {
    text-decoration: none;
}

.nav-buttons button {
    padding: 10px 20px;
    font-size: 24px;
    background-color: #010a8b;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-buttons button:hover {
    background-color: #45a049;
}

.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
